<html>


<body>

    <div>
        <form method="post" action="/partenariat/uploads" enctype="multipart/form-data">
            <input type="file" name="files" multiple />
            <button type="submit">Upload</button>

        </form>

    </div>
</body>
</html>