
table{
    
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td
{
    border-bottom:1px #dddddd solid;
    text-align: left;
    padding: 20px;
    
}
th{
    background-color: rgb(9, 160, 187);
    border-bottom:1px #dddddd solid;
    text-align: left;
    padding: 25px;
}

.striped:nth-child(even){
    background-color: #dddddd;
}
.hover:hover{
    background-color: #61dafb;
}

.data-display-table {
    text-align: center;
  }
  
  .button{
    color: black;
    background-color: rgb(163 219 229);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 12px;
  }

  .button.active {
    background-color: #09a0bb;
    color: white;
  }

  .button:hover:not(.active) {background-color: #09a0bb;}
